<app-widget widgetTitle="Notes view">
  <div class="note-view" *ngIf="note">

    <div class="note-title section-secondary">
      <div #noteTitle class="input" contenteditable [innerHTML]="note.title"></div>
    </div>

    <div class="note-variables section-secondary">
      notes variables will be listed here
    </div>

    <div class="note-content section-secondary">
      <div #noteContent class="input" contenteditable [innerHTML]="note.content"></div>
    </div>

    <div class="note-actions section-secondary">
      <div class="action-button major" (click)="updateNote()">Save note</div>
      <div class="action-button major" (click)="deleteNote()">Remove note</div>
      <div class="action-button major" (click)="toggleCategory()">Toggle Category</div>
    </div>

  </div>
</app-widget>