@import '../../styles/colors.less';

@widget-padding: 0.5rem;
@border-width: 0.125rem;

.widget-wrapper {
  @line-height: 1rem;
  @title-height: @line-height + 2 * @widget-padding;

  padding: @widget-padding;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: calc(100% - 2 * @widget-padding);

  .widget-title {
    display: grid;
    grid-template-columns: 1fr (@title-height / 2) (@title-height / 2);
    column-gap: @widget-padding;
    padding: @widget-padding;
    line-height: @line-height;
    font-family: Philosopher;

    & > ::ng-deep .icon {
      width: @title-height / 2;
      height: @title-height / 2;
    }

    & > * {
      z-index: 1;
    }

    &.expanded {
      margin-bottom: 0.5rem;

      & ~ .widget-content {
        display: block;
      }
    }

    & > .widget-title-text-container {
      overflow: hidden;

      & > .widget-title-text {
        display: block;
        margin: 0 @widget-padding 0 0;
      }
    }
  }

  .widget-content {
    display: none;
    overflow: auto;
  }
}