<div class="widget-wrapper section-primary">
  <div
  class="widget-title section-secondary expanded"
  [expandableItemId]="(expandableId || widgetTitle) + '_widget'"
  [expanderContainer]="widgetExpander"
  appExpandable
  >
    <div class="widget-title-text-container">
      <span class="widget-title-text" [innerHTML]="widgetTitle | markHTMLsafe"></span>
    </div>
    <div #widgetExpander></div>
    <i class="action-button minor icon close" (click)="onClose()"></i>
  </div>
  <div class="widget-content">
    <ng-content></ng-content>
  </div>
</div>
