@import '../../styles/colors.less';

@widget-padding: 0.5rem;
@border-width: 0.125rem;

.widget-wrapper {
  padding: @widget-padding;
  position: relative;
  border-radius: 0.5rem;

  .widget-title {
    @line-height: 1rem;
    @elem-height: @line-height + 2 * @widget-padding;
  
    position: absolute;
    display: grid;
    grid-template-columns: 1fr (@elem-height / 2);
    column-gap: @widget-padding;
    grid-template-areas: "title icon";
    padding: @widget-padding / 2 calc(@widget-padding + 2px) 0 @widget-padding;
    line-height: @line-height;
    top: -(@elem-height / 2);
    left: 2 * @widget-padding;
    background-color: inherit;
    font-family: Philosopher;
    border-radius: 0.5rem 0.5rem 0 0;
    border-color: inherit;

    &::before {
      content: '';
      position: absolute;
      top: -@border-width;
      left: -@border-width;
      height: calc(@elem-height / 2 - @border-width);
      width: calc(100%);
      border-style: solid;
      border-color: inherit;
      border-width: @border-width;
      border-bottom: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      z-index: -1;
      padding: 0;
      margin: 0;
    }

    & > span {
      grid-area: title;
    }

    & > ::ng-deep .icon {
      grid-area: icon;
      width: @elem-height / 2;
      height: @elem-height / 2;
    }

    & + .widget-content {
      display: none;
    }
    &.expanded + .widget-content {
      display: initial;
    }
  }
}