@import './fonts.less';
@import './colors.less';
@import './icons.less';
@import './actions.less';

html {
  font-size: 16px;
  font-family: Georgia, Times, serif;
  color: @text-primary-color;
  background-color: @background-primary-color;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 8px;
  margin: 0;
  border: 0;

  &.drag-ongoing * {
    cursor: none;
  }
}

p {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1rem;
  font-size: 1rem;
}

.section-primary {
  border: 2px solid @section-primary-border-color;
  background-color: @section-primary-background-color;
  border-radius: 0.5rem;
}

.section-secondary {
  border: 1px solid @section-secondary-border-color;
  background-color: @section-secondary-background-color;
  border-radius: 0.5rem;
}

.input {
  min-height: 1rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px ridge @input-border-color;
  color: @text-primary-color;
  background-color: @input-background-color;
  font-family: Georgia;

  &.with-icon-left {
    padding-left: 2rem;
  }
  &.with-icon-right {
    padding-right: 2rem;
  }
}

[draggable] {
  user-select: none;
}

.hidden {
  display: none;
}
