@primary-text-color: rgba(21, 19, 15, 1);
@secondary-text-color: rgba(82, 75, 59, 1);

@primary-background-color: rgba(252, 250, 246, 1);
@secondary-background-color: rgba(255, 253, 250, 1);
@action-secondary-background-color: rgba(236, 233, 229, 1);

@primary-border-color: rgba(153, 139, 114, 1);
@action-secondary-border-color: rgba(227, 223, 216, 1);
