@import '../../../../styles/colors.less';
@import '../../../../styles/destyle-lists.less';

:host {
  border: 2px solid @section-primary-border-color;
  background-color: @section-primary-background-color;
  width: 20%;
  height: 100%;
  padding: 1rem;
}

.entries-group:not(:last-of-type) {
  margin-bottom: 1rem;
}

.entries-group-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  font-family: Philosopher;
}