<ul>
  <ng-container *ngFor="let note of notes; trackBy: notesTrackingFn">
    <li class="entry" [appExpandable]="note.childNotes?.length > 0">
      <span appDraggable class="drop-zone action-button minor note-title" [routerLink]="['note', note._id]">
        {{note.title}}
      </span>
      <app-entries-list
        *ngIf="note.childNotes?.length > 0 && fetchedNotes[note._id]"
        class="subentries"
        app-entries-list
        [notes]="fetchedNotes[note._id]"
      ></app-entries-list>
    </li>
  </ng-container>
</ul>