<ul *ngIf="notes.length > 0">
  <ng-container *ngFor="let note of notes; trackBy: notesTrackingFn">
    <li
    #entryElement
    class="entry"
    [expandableItemId]="note._id + '_browser'"
    appExpandable
    (onFirstExpand)="handleNoteExpansion(note)"
    [canExpand]="(note.childNotesIds | async)?.length > 0"
    >
      <app-draggable-note-entry
      [ngClass]="{
        'action-button note-title minor': true,
        'category': getContentSourceNote(note)?.isCategory
      }"
      [appDropZone]="note._id"
      [noteId]="note._id"
      [browserReference]="browserReference"
      ></app-draggable-note-entry>

      <!-- icon for expandable note placeholder -->

      <app-entries-list
      *ngIf="(note.childNotesIds | async)?.length > 0"
      class="subentries"
      [notesIds]="((note.childNotesIds | async) || [])"
      [browserReference]="browserReference"
      ></app-entries-list>

    </li>
  </ng-container>
</ul>
