@import '../../../../styles/colors.less';
@import '../../../../styles/destyle-lists.less';

@expand-icons-size: 1rem;
@space-for-expand-icons: @expand-icons-size;
@level-indentation: 1rem;
@list-elements-spacing: 0.5rem;
@list-elements-padding: 0.1rem;

.entry {
  display: grid;
  grid-template-columns: 13rem @space-for-expand-icons;
  grid-template-rows: 2rem;
  grid-template-areas: "title icon";
  column-gap: @list-elements-spacing;
  user-select: none;
  align-items: center;

  & > .subentries {
    margin-left: @level-indentation;
  }

  .note-title {
    padding: 0.1rem 0.2rem 0.1rem 0.6rem;
    font-size: 1rem;
    line-height: 1rem;
    grid-area: title;
    justify-content: left;
  }

  & > ::ng-deep .icon {
    grid-area: icon;
  }

  & > .subentries {
    display: none;
  }

  &.expanded > .subentries {
    display: initial;
  }
}

.drop-zone {
  &.indicate-drop-zone {
    border-style: dashed;
    margin-left: 0.125rem;
    margin-right: -0.125rem;
  }
}