@import '../../../../styles/colors.less';
@import '../../../../styles/destyle-lists.less';

@expand-icons-size: 1rem;
@space-for-expand-icons: @expand-icons-size;
@level-indentation: 1rem;
@list-elements-spacing: 0.5rem;
@list-elements-padding: 0.1rem;

.entry {
  display: grid;
  grid-template-columns: 13rem @space-for-expand-icons;
  grid-template-areas: "title icon";
  column-gap: @list-elements-spacing;
  user-select: none;
  align-items: center;

  .note-title {
    padding: @list-elements-padding 6*@list-elements-padding;
    font-size: 1rem;
    line-height: 1rem;
    grid-area: title;
    justify-content: left;
    margin-bottom: 0.5rem;

    &.category {
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: transparent;
      border-color: transparent;

      &.indicate-drop-zone {
        border-color: @action-secondary-border-color;
      }
    }
  }

  & > ::ng-deep .icon {
    padding: @list-elements-padding;
    grid-area: icon;
    margin-bottom: 0.5rem;
  }

  & > .subentries {
    margin-left: @level-indentation;
    display: none;
  }

  &.expanded > .subentries {
    display: initial;
  }
}

.drop-zone {
  &.indicate-drop-zone {
    border-style: dashed;
    margin-left: 0.125rem;
    margin-right: -0.125rem;
  }
}